<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
    <style>
        .sides{
        margin:0;
        }
        .left{
        float:left;
        width:60%;
        overflow:hidden;
        }
        .right{
        float:left;
        width:40%;
        overflow:hidden;
        }
        a{
        text-decoration:none;
        }



    </style>
</head>
<body>
<div class="sides left" style="width:25%">
    <fieldset>
        <legend>Filter</legend>
        <div class="sides left">
            <b>Skills:</b><br>
            {% for skill in skill_list %}
            {{skill.skill_name}}<input type="checkbox" name="skills[]" value="{{skill.skill_name}}"><br>
            {% endfor %}
        </div>
        <div class="sides right">
            <b>Languages</b><br>
            {% for language in language_list %}
            {{language.language_name}}<input type="checkbox" name="languages[]"
                                             value="{{language.language_name}}"><br>
            {% endfor %}
        </div>
    </fieldset>
    <input type="button" value="Filter" onclick="filter()"/>
</div>

<div class="sides right" id="jobs" style="width:70%">
    {% include 'jobs.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

    function filter() {

        var skills = []
        $("input[name='skills[]']:checked").each( function () {
            skills.push($(this).val());
        });

        var languages = $("input[name='languages[]']:checked").map(function () {
                        return this.value;
                    }).get();

            $.ajax({
                type: "POST",
                url: "{% url 'Portal:jobs_update' %}",
                contentType: "application/json",
                data: JSON.stringify({'skills': skills, 'languages': languages}),
                success: function(data){
                         $("#jobs").html(data);
                }
            });
    }



</script>


</body>
</html>