<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
Welcome {{request.user.username}}<br>
<a href="{% url 'Portal:logout' %}"><input type="button" value="Logout"></a><br>
<a href="{% url 'Portal:post_project' %}"><input type="button" value="Post"></a><br>

{% if posted_projects %}
<h4>Posted Projects</h4>

    {% for project in posted_projects %}
        <p></p>
        <h5><b>Project Name:</b></h5><br>
        <a href="{% url 'Portal:project_description' project.id %}">{{project.project_name}}</a><br>
        <h5><b>Project Description:</b></h5><br>
        {{project.description}}<br>
        <p></p>
    {% endfor %}
{% endif %}
</body>
</html>