<!DOCTYPE html>
<html>
<head>
    <title>Project Description</title>
    <style>
        a{
        text-decoration:none;
        }
    </style>
</head>
<body>
<h4><b>Project Name:</b></h4><br>
{{project.project_name}}<br>
<h4><b>Project Description:</b></h4><br>
{{project.description}}<br>
<h4><b>Posted on:</b></h4><br>
{{project.postedOn}}<br>
<h4><b>Tasks:</b></h4><br>
{{project.task_count}}<br>
<h4><b>Deadline:</b></h4><br>
{{project.deadline}}<br>

<a href="{% url 'Portal:add_task' project.id %}"><input type="button" value="Add Task"></a>

{% if added_tasks %}
{% for task in added_tasks %}
<p></p>
<h4><b>Task Name:</b></h4><br>
<a href="{% url 'Portal:task_description' project.id task.id %}">{{task.task_name}}</a><br>
<h4><b>Task Description:</b></h4><br>
{{task.task_description}}<br>
<p></p>
{% endfor %}
{% endif %}

</body>
</html>