<!DOCTYPE html>
<html>
<head>
    <title>Project Description</title>
    <style>
        a{
        text-decoration:none;
        }

    </style>
</head>
<body>
<b>Project Name:</b>
{{project.project_name}}<br>
<b>Project Description:</b>
{{project.description}}<br>
<b>Posted on:</b>
{{project.postedOn}}<br>
<b>Tasks:</b>
{{project.task_count}}<br>
<b>Deadline:</b>
{{project.deadline}}<br>
{% if is_leader %}
<a href="{% url 'Portal:add_task' project.id %}"><input type="button" value="Add Task"></a>
{% endif %}

{% if added_tasks %}
{% for task in added_tasks %}
<p></p>
<b>Task Name:</b>
<a href="{% url 'Portal:task_description' project.id task.id %}">{{task.task_name}}</a><br>
<b>Task Description:</b>
{{task.task_description}}<br>
{% endfor %}
{% endif %}

</body>
</html>