<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Description</title>
</head>
<body>
{{is_leader}}<br>
{{has_applicants}}<br>
{{is_alloted}}<br>
----------------------------<br>
<b>Task Name:</b><br>
{{task.task_name}}<br>
<b>Task Description:</b><br>
{{task.task_description}}<br>
<b>Added on:</b><br>
{{task.addedOn}}<br>
<b>Deadline:</b><br>
{{task.deadline}}<br>

<b>Applicants:-</b><br>
{% for i in applicants %}
	{{i.user.user.username}}<br/>
{% endfor %}
{% if is_alloted %}
	<b>Contributor:-</b><br>
	{{contributor.user.user.username}}<br/>
{% else %}
	{% if is_leader  %}
		{% if has_applicants %}
			<form method="POST" action="{%url 'Portal:task_description' task.project.id task.id %}">
				{%csrf_token%}
				<input type="hidden" name="work" value="select">
				{% for i in applicants %}
					<input type="radio" name="user_id" value="{{i.user.user.id}}">{{i.user.user.username}}<br>
				{% endfor %}
				<input type="submit" name="submit" value="select">
			</form>
		{% endif %}
	{% else%}
		{% if has_applied %}
			You have already applied for he task
		{% else %}
			<b>Open For Applicants</b>
			<form method="POST" action="{% url 'Portal:task_description' task.project.id task.id %}">
				{% csrf_token %}
				<input type="hidden" name="work" value="apply">
				<!--< input type="hidden" name="task_id" value="{{task.id}}"> -->
				<input type="submit" name="submit" value="Apply for the task"> 			
			</form>
		{% endif %}
	{% endif %}
{% endif %}
</body>
</html>