<!DOCTYPE html>
<html>
<head>
	<title>Add Task</title>
</head>
<body>
	{% if message %}
		{{message}}
	{% endif %}
	<form method="POST">
		<input type="text" name="task_name" placeholder="task_name">
		<!-- <input type="text" name="project_id" placeholder="project_id"> -->
		<!-- <input type="date" name="addedOn" placeholder="addedOn"> -->
		<input type="text" name="task_description" placeholder="task_description">
		<input type="date" name="deadline" placeholder="deadline">
		<input type="submit" name="submit">
	</form>
</body>
</html>