<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Jobs</title>
</head>
<body>
<div>
    <!--<h4>Skills</h4>-->
    <!--<form method="POST">-->
        <!--<fieldset id="Skills">-->
            <!--{% for skill in skills_list %}-->
            <!--<label for="{{forloop.counter}}">skill.skill_name</label>-->
            <!--<input type="checkbox" id="{{forloop.counter}}" name={{skill.skill_name}} value={{skill.skill_name}}><br>-->
            <!--{% endfor %}-->
        <!--</fieldset>-->
        <!--<input type="button" value="Update" id="selection-button" method="POST">-->
    <!--</form>-->
</div>
<div id="data">
        {% if projects_list %}
        {% for project in projects_list %}
        <p>
        </p>
        <h4><b>Project Name:</b></h4><br>
            <a href="{% url 'Portal:project_description' project.id %}">{{project.project_name}}</a><br>
            <h4><b>Project Description:</b></h4><br>
            {{project.description}}<br>
            <h4><b>Posted on:</b></h4><br>
            {{project.postedOn}}<br>
        <p>
        </p>
        {% endfor %}
        {% else %}
        <p>Sorry, No Project Found!!</p>
        {% endif %}
</div>


</body>
</html>