<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Project</title>
</head>
<body>
    <form method="POST" >
        <label for="name"><b>Name of the Project</b></label><br>
        <input name="name" id="name" />
        <label for="desc"><b>Description</b></label><br>
        <textarea id="desc" name="desc" placeholder="Write something here..."></textarea>
        <label for="link"><b>Link</b></label><br>
        <input type="url" name="link" id="link" />
        <label for="deadline"><b>Deadline</b></label><br>
        <input name="deadline" id="deadline" type="date"/>
        <input type="submit" name="submit" value="Post">
    </form>
</body>
</html>